html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* ESTILOS PROPIOS */

small {
    font-size: 0.7em;
    color: #0069fd;
}

nav {
    height: 80px;
    background-color: #333;
    box-shadow: 5px 5px 5px #d0d0d0;
    border-color: #d0d0d0;
}

nav ul li {
    height: 80px;
    text-align: center;
    font-size: 0.9em;
    margin-left: -15px;
}

nav ul li i {
    background-color: transparent;
    text-align: center;
}

nav li a:link,
nav li a:visited,
nav li button.btn-link {
    color: #fff;
}

nav li.active > a {
    background: none;
    color: #009bdb;
}

nav .open >a {
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: #333;
    box-shadow: 5px 5px 5px #999;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active {
    background-color: transparent;
    color: #ff7e00;
}
.dropdown-menu > li{
    height: 30px;
    margin-left: 0;
}

.dropdown-menu > i {
    background-color: #ffffff;
    text-align: center;
}

nav li:hover a:hover, nav li form button.btn-link:hover {
    background-color: transparent;
    color: #ff7e00;
}

/* IMAGENES */

#logo {
    height: 60px;
}

.imgPerfil-md {
    margin-top: 0;
    height: 110px;
    border: 1px solid #555;
    filter: drop-shadow(4px 4px 6px #666);
}

.imgPerfil-sm {
    margin-top: 10px;
    height: 80px;
    border: 1px solid #555;
    filter: drop-shadow(4px 4px 6px #666);
}

.imgPerfil-sm:hover {
    border: 1px solid #111;
    filter: drop-shadow(2px 2px 3px #000);
}

.imgPerfil-xs {
    margin-left: 10px;
    height: 40px;
    border: 1px solid #555;
    filter: drop-shadow(2px 2px 3px #666);
}

.imgPerfil-xs:hover {
    border: 1px solid #111;
    filter: drop-shadow(1px 1px 2px #000);
}

.imgPerfilInicio-xs {
    margin-left: 10px;
    height: 40px;
    border: 1px solid #111;
    filter: drop-shadow(2px 2px 3px #000);
}

.imgPerfilInicio-xs:hover {
    border: 1px solid #ff7e00;
}

.imgServicio-xs {
    height: 48px;
    border: none;
}

.imgServicio-xs:hover {

}

.imgServicio-sm {
    height: 100%;
    z-index: 1;
}

/*Sobreescribiendo img-thumbnail de bootstrap */
.img-thumbnail {
    padding: 1px;
}

/* Miniatura para imágenes de servicio */
.imgServ-thumbnail {
    padding: 3px;
    padding-bottom: 25px;
}

.language {
    margin: -10px 5px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 3px #666);
}

.language:hover {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2);
}

.bordeado {
    border: 1px solid red;
}

/* GRID-VIEW */

.grid-view th{
    text-align: center;
    color: #337ab7;
}

.grid-view a, .grid-view a:focus, .grid-view a:visited {
    color: #337ab7;
}

.gvCenter td {
    vertical-align: middle !important;
}

.miPerfil {
    background-color: #ffd7ac !important;
}

/* Estilos para diversos tamaños y controles */
    input[type=checkbox].check {
      /* Double-sized Checkboxes */
      -ms-transform: scale(0.7); /* IE */
      -moz-transform: scale(0.7); /* FF */
      -webkit-transform: scale(0.7); /* Safari and Chrome */
      -o-transform: scale(0.7); /* Opera */
      padding: 10px;
      vertical-align: bottom;
    }

.check-sm {
    font-size: 0.7em;
    color: #337ab7;
}

.cnred {
    font-weight: bold;
    font-style: italic;
    font-size: 0.9em;
}

.tituloForms {
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.unoymedio {
    font-size: 1.5em !important;
}

.titUpdate {
    text-align: center;
    color: #286090;
}

.indented {
    text-indent: 20px;
}

.tbn {
    font-size: 1.5em !important;
    color: #ffffff;
    font-weight: bolder;
}

/* Estilos para imágenes de perfil - View profile */
.imgWrap {
  display: inline-block;
  position: relative;
  height: 110px;
  margin-left: 15px;
  font-size: 20px;
  padding: 5px;
}

.closeImg, .tickImg {
  position: absolute;
  display: block;
  top: 8px;
  z-index: 10;
}

.closeImg {
    right: 5px;
    color: red;
}
.tickImg {
    left: 5px;
    color: green;
}

.closeImg:hover, .tickImg:hover {
    filter: drop-shadow(2px 2px 3px #999);
}

.imgWrapServ {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #555;
    border-radius: 4px;
    height: 130px;
    width: 140px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    filter: drop-shadow(4px 4px 6px #666);
}

.imgWrapServ-xs {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #555;
    border-radius: 4px;
    height: 50px;
    width: 66px;
    text-align: center;
    padding: 0;
    filter: drop-shadow(2px 2px 3px #666);
}

.imgWrapServ-xs:hover {
    filter: drop-shadow(1px 1px 1px #000);
    border: 1px solid #222;
}

.fecha {
    position:absolute;
    width:145px;
    height:10px;
    left: 0;
    right: 0;
    bottom: 8px;
    margin: 0 auto;
    font-size: 0.5em !important;
    text-align: center;
    z-index: 9;
}

.closeImgServ, .tickImgServ {
  position: absolute;
  bottom: 6px;
  font-size: 0.8em !important;
  z-index: 10;
}

.closeImgServ {
    right: 8px;
    color: red;
}
.tickImgServ {
    left: 8px;
    color: green;
}

.closeImgServ:hover, .tickImgServ:hover {
    filter: drop-shadow(2px 2px 3px #999);
}

/* RIBBONS del header del Backend */

.ribbon {
    height: 85px;
    position:absolute;
    top:0;
    right: 0px;
}

.ribbon-left {
    height: 85px;
    position:absolute;
    top:0;
    left: 0px;
}

.ribbon:hover {
    animation: shake 0.5s;
    animation-iteration-count: 100;
}

.ribbon-left:hover {
    animation: shake 0.5s;
    animation-iteration-count: 100;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ESTILOS PARA MENSAJES DE CONFIRMACION DE BORRADO  */

.panel-title {
    text-align: center !important;
}

.panel-body {
    text-align: justify !important;
}

.panel-heading {
    background-color: #286090 !important;
}

.content-editable {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
