html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding-top: 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* ESTILOS PROPIOS */

/* Menú superior */
small {
    font-size: 0.7em;
    color: #0069fd;
}

nav {
    height: 80px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 5px #d0d0d0;
    border-color: #d0d0d0;
}

nav ul li {
    height: 80px;
    text-align: center;
    font-size: 0.9em;
    margin-left: -15px;
}

.dropdown-menu > li{
    height: 30px;
    margin-left: 0;
}

.dropdown-menu > i {
    background-color: #ffffff;
    text-align: center;
}

nav ul li i {
    background-color: #f0f0f0;
    text-align: center;
}

nav li a:link,
nav li a:visited,
nav li button.btn-link {
    color: #009bff;
}

nav li.active > a {
    background: none;
    color: #009bff;
}

nav li:hover a:hover, nav li form button.btn-link:hover {
    background-color: #f0f0f0;
    color: #ff7e00;
}

.dropdown-menu li:hover a:hover {
    background-color: #ffffff;
}

/* Menú superior Página Inicio*/

nav.inicio {
    height: 40px;
    background-color: #ffffff;
    box-shadow: none;
    border-color: none;
}

nav.inicio ul li {
    height: 40px;
}

nav.inicio ul li ul li{
    height: 30px;
}

nav.inicio .open >a {
    background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active {
    background-color: transparent;
    color: #ff7e00;
}
.dropdown-menu > li{
    height: 30px;
    margin-left: 0;
}

.dropdown-menu > i {
    background-color: #ffffff;
    text-align: center;
}

nav.inicio ul li i {
    background-color: #ffffff;
    text-align: center;
}

nav.inicio li:hover a:hover, nav li form button.btn-link:hover {
    background-color: transparent;
    color: #ff7e00;
}

/* IMAGENES */

#logo {
    height: 60px;
}

#logoInicio {
    border-right: 2px inset #666;
}

.titular {
    color: #009bff;
    font-size: 1.5em;
}

.titular i {
    color: #ff7e00
}

.imgPerfil-md {
    margin-top: 0;
    height: 110px;
    border: 1px solid #555;
    filter: drop-shadow(4px 4px 6px #666);
}

.imgPerfil-sm {
    margin-top: 10px;
    height: 80px;
    border: 1px solid #555;
    filter: drop-shadow(4px 4px 6px #666);
}

.imgPerfil-sm:hover {
    border: 1px solid #111;
    filter: drop-shadow(2px 2px 3px #000);
}

.imgPerfil-xs {
    margin-left: 10px;
    height: 40px;
    border: 1px solid #555;
    filter: drop-shadow(2px 2px 3px #666);
}

.imgPerfil-xs:hover {
    border: 1px solid #111;
    filter: drop-shadow(1px 1px 2px #000);
}

.language {
    margin: -10px 5px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 3px #666);
}

.language:hover {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2);
}

.bordeado {
    border: 1px solid red;
}

/* GRID-VIEW */

.grid-view th{
    text-align: center;
    color: #337ab7;
}

.grid-view a, .grid-view a:focus, .grid-view a:visited {
    color: #337ab7;
}

.gvCenter td {
    vertical-align: middle !important;
}

.miPerfil {
    background-color: #ffd7ac !important;
}

/* Estilos para diversos tamaños y controles */
input[type=checkbox].check {
  /* Double-sized Checkboxes */
  -ms-transform: scale(0.7); /* IE */
  -moz-transform: scale(0.7); /* FF */
  -webkit-transform: scale(0.7); /* Safari and Chrome */
  -o-transform: scale(0.7); /* Opera */
  padding: 10px;
  vertical-align: bottom;
}

.check-sm {
    font-size: 0.7em;
    color: #337ab7;
}

.cnred {
    font-weight: bold;
    font-style: italic;
    font-size: 0.9em;
}

/* Estilos para imágenes de perfil - View profile */
.imgWrap {
  display: inline-block;
  position: relative;
  height: 110px;
  margin-left: 15px;
  font-size: 20px;
  padding: 5px;
}

.closeImg, .tickImg {
  position: absolute;
  top: 3px;
}

.closeImg {
    right: 3px;
    color: red;
}
.tickImg {
    left: 3px;
    color: green;
}

.closeImg:hover, .tickImg:hover {
    filter: drop-shadow(2px 2px 3px #999);
}

/* ESTILOS PARA MODAL LOGIN */

.btn-login {
    font-size: 28px;
    filter: drop-shadow(2px 2px 3px #999);
}

/* ESTILOS PARA PROFILE */

.profile-view a.btn {
    margin-right: 10px;
}

.select2-bootstrap-prepend > .input-group-addon:first-child {
    background-color: #ff7e00;
    color: #ffffff;
    padding: 5px 16px;
}

.select2-bootstrap-prepend > .input-group-addon:last-child {
    background-color: #337ab7;
    color: #ffffff;
    padding: 5px 16px;
}

.unoymedio {
    font-size: 1.5em !important;
}
