 .fullDay
{
    /*border-radius: 15px;*/
    border: 1px solid #000;
    background-color:rgba(31, 92, 153, 0.4);
    padding: 5px 5px 5px 5px;
    color: #FFF;
    width: 150px;
    margin-top: 30px;
    overflow:hidden;
    font-size:0.8em;
}
.weatherSummary
{
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
}
.today
{
    margin: 0 auto;
    padding: 1px;
    color: #FFF;
    width: 100%;
    vertical-align:top;
    overflow:hidden;
    font-size:0.9em;
    line-height: 1.2em;
}
.today p
{
    margin: 0;
}

.today img {
    width: 56px;
    float: right;
}
h2.weather
{
    border-bottom: 1px solid #999;
}

.fullDay:hover
{
    background-color: #4C7DAD;
}

.lastUpdate
{
    color: #880000;
    font-size:0.5em;
}

.highTemp
{
    color: #FFDE58;
    font-weight: bolder;
}

.lowTemp
{
    color: #FFF;
    font-weight: bolder;
}

.day
{
    margin: 0 0 3px;
    font-size:0.9em;
    font-weight:bold;
    color: white;
    text-shadow: 1px 1px #006600;
    line-height: 1.2em;
}

ul.weather
{
    list-style-type: none;
    width: 100%;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.fullday p
{
    margin: 0;
}

ul li.weather
{
    display:inline-block;
}

li.today > p {
    text-shadow: 1px 1px #006600;
}

.weather
{
    margin: 0;
    margin-right: -15px;
    widht: 110%;
    padding-right: 0;
    height: 80px;
}


@media(max-width:1200px) {
    .today {
        margin: 0 auto;
        padding: 5px;
        color: #FFF;
        width: 100%;
        vertical-align:top;
        overflow:hidden;
        font-size:0.8em;
        line-height: 1em;
    }
    .today p
    {
        margin: 0;
    }

    .today img {
        width: 48px;
        float: right;
    }

    .day {
        margin: 0 0 3px;
        font-size:0.8em;
        font-weight:bold;
        color: white;
        text-shadow: 1px 1px #006600;
        line-height: 1em;
    }

}

@media(max-width:950px) {
    .today {
        font-size:0.8em;
        line-height: 1em;
    }

    .today img {
        width: 32px;
    }

    .day {
        font-size:0.7em;
    }

}
